<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="c($event)" style="height: 30%;" #slides>
    <ion-slide *ngFor="let day of range" value="{{day}}" style="height: 20%;">
        <h1 data-date="{{day}}">{{day}}</h1>
    </ion-slide>
</ion-slides>

</ion-content>
